{% extends 'master.html' %} {% block title %} Register {% endblock %} {% block
content %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<form action="" method="POST">
  <input type="hidden" name="order_id" value="{{ order_id }}" />
  hello {% csrf_token %}
  <button id="rzp-button1">Pay</button>

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  {% endblock %} {% block script %}
  <script>
    var options = {
      key: "{{ rayzorpay_merchant_key }}",
      amount: "{{ amount }}",
      currency: "INR",
      name: "MAIT TNM", //
      description: "Registratino",
      order_id: "{{ razorpay_order_id }}",
      callback_url: "{{ callback_url }}",

      notes: {
        address: "TNM Registeration",
      },
      theme: {
        color: "#3399cc",
      },
    };
    var rzp1 = new Razorpay(options);
    document.getElementById("rzp-button1").onclick = function (e) {
      rzp1.open();
      e.preventDefault();
    };
  </script>
  {% endblock %}
</form>
